@inject IHttpContextAccessor context1;
@model UserLogin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link rel="stylesheet" href="~/LoginAndRegisterAssets/fonts/material-icon/css/material-design-iconic-font.min.css">
<!-- Main css -->
<link rel="stylesheet" href="~/LoginAndRegisterAssets/css/style.css">

<link href="~/homeassets/css/mystylesheet.css" rel="stylesheet" />

    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="containerr mt-4">
            <div class="signin-content">
                <div class="signin-image">
                <figure id="baseImgId"><img class="resize-image"  src="~/LoginAndRegisterAssets/images/signin-image.jpg" width="400" height="300" id="LOGINimage" alt="sing up image"></figure>
                    <a asp-action="Register" asp-controller="LoginAndRegister" class="signup-image-link"><span>Create an account</span></a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="UserName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" asp-for="UserName" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" asp-for="Password" placeholder="Password" />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Enter" />
                        </div>
                    </form>
                    <div class="text-danger">
                        <span ">@Html.ValidationMessage("*")</span> @* If user credintials are not correct a message will be display *@
                    </div>

                </div>
            </div>

        </div>
    </section>

<!-- JS -->
<script>
    //code to resize images + 3sec interval between each image
    const images = document.querySelectorAll('.resize-image');

    const MyWidth = 400;
    const MyHeight = 300;

    images.forEach((image) => {
        image.width = MyWidth;
        image.height = MyHeight;
    });

    //..................................................

    //code to change img every 3 sec
    const imageSources = [
        "../homeassets/img/tw.png",
        "../homeassets/img/222.png"
    ];

    const imageElement = document.getElementById("LOGINimage");
    const imageContainer = document.getElementById("baseImgId");

    let currentIndex = 0;

    function changeImageWithFadeIn() {
        imageContainer.style.opacity = 0;

        setTimeout(() => {
            imageElement.src = imageSources[currentIndex];
            currentIndex = (currentIndex + 1) % imageSources.length;
            imageContainer.style.opacity = 1;
        }, 1000);
    }

    changeImageWithFadeIn();
    setInterval(changeImageWithFadeIn, 3000);


    //......................................................................................................



</script>
<script src="~/LoginAndRegisterAssets/vendor/jquery/jquery.min.js"></script>
<script src="~/LoginAndRegisterAssets/js/main.js"></script>
